

    <div class="row">


        <div class="loading-indicator" *ngIf="products.length==0">
            <mat-spinner mode="indeterminate" color="warn"></mat-spinner>
        </div>


      <div class="col-lg-4 col-md-6 col-sm-12 mt-3" *ngFor="let product of products">

            <mat-card  class="example-card mb-3 ">

                <img src= {{product.img}}  class="mb-1 card-img-top img-responsive" alt="Photo of product">
                <p class="h5 mb-1">{{product.name}}</p>

                  <h3 class = "price mb-1">$ {{product.price}} USD</h3>



                  <button mat-raised-button (click)="addToCart(product)" color="warn" >ADD TO CART</button>

            </mat-card>
      </div>
    </div>




